In [1]:
import pandas as pd

In [189]:
df = pd.read_csv('adult.data.csv')

In [4]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [137]:
country_salary = df[['native-country', 'salary']].groupby(['native-country'])['salary'].value_counts().unstack()
country_salary.head()

salary          <=50K   >50K
native-country
?               437.0  146.0
Cambodia         12.0    7.0
Canada           82.0   39.0
China            55.0   20.0
Columbia         57.0    2.0

In [167]:
country_salary['rich_percentage'] = country_salary.apply(lambda x: 100 * x['>50K'] / (x['>50K'] + x['<=50K']), axis=1)
country_salary.sort_values(by=['rich_percentage'], ascending=False, inplace=True)
country_salary.head()

salary          <=50K  >50K  rich_percentage
native-country
Iran             25.0  18.0        41.860465
France           17.0  12.0        41.379310
India            60.0  40.0        40.000000
Taiwan           31.0  20.0        39.215686
Japan            38.0  24.0        38.709677

In [166]:
country_salary.index[0]

'Iran'

In [168]:
country_salary.rich_percentage[0]

41.86046511627907

In [177]:
df['occupation'][(df['native-country'] == 'India') & (df['salary'] == '>50K')].value_counts().index[0]

'Prof-specialty'

In [191]:
df.education.unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [193]:
len(df[df.education.isin(['Bachelors', 'Masters', 'Doctorate']) & (df.salary == '>50K')]) / len(df[df.education.isin(['Bachelors', 'Masters', 'Doctorate'])])

0.46535843011613937

In [195]:
# percentage with salary >50K
higher_education_rich = 100 * len(df[df.education.isin(['Bachelors', 'Masters', 'Doctorate']) & (df.salary == '>50K')]) / len(df[df.education.isin(['Bachelors', 'Masters', 'Doctorate'])])
higher_education_rich = round(higher_education_rich, 1)
higher_education_rich

46.5

In [207]:
def calculate_demographic_data(print_data=True):
    # Read data from file
    df = pd.read_csv('adult.data.csv')

    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = df.groupby(['race']).count().iloc[:,0].rename('race_count')

    # What is the average age of men?
    average_age_men = df['age'][df.sex == 'Male'].mean()
    average_age_men = round(average_age_men, 1)

    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors = 100 * len(df[df.education == 'Bachelors']) / len(df) 
    percentage_bachelors = round(percentage_bachelors, 1)

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`
    higher_education = 100 * len(df[df.education.isin(['Bachelors', 'Masters', 'Doctorate'])])/len(df)
    higher_education = round(higher_education, 1)

    lower_education = 100 *len(df[~df.education.isin(['Bachelors', 'Masters', 'Doctorate'])])/len(df)
    lower_education = round(lower_education, 1)

    # percentage with salary >50K
    higher_education_rich = 100 * len(df[df.education.isin(['Bachelors', 'Masters', 'Doctorate']) & (df.salary == '>50K')]) / len(df[df.education.isin(['Bachelors', 'Masters', 'Doctorate'])])
    higher_education_rich = round(higher_education_rich, 1)

    lower_education_rich = 100 * len(df[~df.education.isin(['Bachelors', 'Masters', 'Doctorate']) & (df.salary == '>50K')]) / len(df[~df.education.isin(['Bachelors', 'Masters', 'Doctorate'])])
    lower_education_rich = round(lower_education_rich, 1)

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = round(df['hours-per-week'].min(), 1)

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    num_min_workers = len(df[(df['hours-per-week'] == min_work_hours)])

    rich_percentage = len(df[(df['hours-per-week'] == min_work_hours) & (df.salary == '>50K')]) / num_min_workers
    rich_percentage = round(rich_percentage, 1)

    # What country has the highest percentage of people that earn >50K?
  
    country_salary = df[['native-country', 'salary']].groupby(['native-country'])['salary'].value_counts().unstack()
    country_salary['rich_percentage'] = country_salary.apply(lambda x: 100 * x['>50K'] / (x['>50K'] + x['<=50K']), axis=1)
    country_salary.sort_values(by=['rich_percentage'], ascending=False, inplace=True)

    highest_earning_country = country_salary.index[0]
    print(type(highest_earning_country))
    highest_earning_country_percentage = round(country_salary.rich_percentage[0], 1)

    # Identify the most popular occupation for those who earn >50K in India.
    top_IN_occupation = df['occupation'][(df['native-country'] == 'India') & (df['salary'] == '>50K')].value_counts().index[0]

    # DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }

In [209]:
answer = calculate_demographic_data()

<class 'str'>
Number of each race:
 race
Amer-Indian-Eskimo      311
Asian-Pac-Islander     1039
Black                  3124
Other                   271
White                 27816
Name: race_count, dtype: int64
Average age of men: 39.4
Percentage with Bachelors degrees: 16.4%
Percentage with higher education that earn >50K: 46.5%
Percentage without higher education that earn >50K: 17.4%
Min work time: 1 hours/week
Percentage of rich among those who work fewest hours: 0.1%
Country with highest percentage of rich: Iran
Highest percentage of rich people in country: 41.9%
Top occupations in India: Prof-specialty

In [210]:
answer['race_count'].to_list()

[311, 1039, 3124, 271, 27816]

In [225]:
df.groupby(['race']).count().iloc[:,0].sort_values(ascending=False)

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: age, dtype: int64